<form <%= @your_turn ? "class=hover-piece" : 'class=piece-container' %> method="post" action=<%= "/game/update?x=#{x}&y=#{y}&id=#{id}" %>>
    <button class='piece' type="submit"><%= @game[x][y] %></button>
    <input type="hidden"/>
</form>

