<%= render "header", user: @user, logged_in: @logged_in, id: @id %>
<h1 class='mb-2 font-bold text-xl'>Game#index</h1>

<% @games.each do |g| %>
  <div><%= link_to g.name, "/game/#{g.id}"%></div>
<% end %>

<div class='btn-gray'>
  <%= link_to "New Game", "/game/new" %>
</div>
